<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63E8A76B1CA09AF10055863E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E8A77F1CA09AF20055863E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E8A78A1CA09AF20055863E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
